:root {
    --calendar-bg-color: #262829;
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}

/* EYE PASSWORD */
.icon-eye{
  position: absolute;
  right: 75px;
  bottom: 230px;
  font-size: 18px;
}

/* DATE & CLOCK */
.ui-datepicker{
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    max-width: 400px; /*change as per your design need */
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
}

.ui-datepicker--cell.-range-to-{
	background: rgba(248, 206, 236, 0.4);
	border-color: rgba(248, 206, 236, 1);
}
.ui-datepicker--cell.-selected-,.ui-datepicker--cell.-selected-.-focus-{
	background-color: #f8ceec;
	color: #000000;
}
.ui-datepicker--cell.-in-range-{
	background: rgba(248, 206, 236, 0.2);
}
.ui-datepicker--cell-day {
    font-weight: 500;
    color: #000000;
}


#clock h5, #clock p{
    margin: 0;
  }
  #clock h5{
    font-size: 16px;
  }
  #clock p{
    font-size: 12px;
  }


/*  */
#listBarang .dropdown-menu{
  display:block;
  position:absolute;
  width:fit-content;
  top: 145px;
  left: 2%;
}
#listBarang .dropdown-menu::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #e3e6f0 transparent;
}


table.dataTable>tbody>tr>td{
  padding:5px 0px;
}

table.table-bordered.dataTable td:nth-child(2){
  text-transform: capitalize;
}
table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:after{
  font-size: .7em;
  line-height: 10px;
}
table.dataTable thead{
  background: #f8f9fc;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td{
  text-align: center !important;
}
div.dataTables_wrapper div.dataTables_filter input{
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dataTables_empty{
  padding:15px 0px !important;
}


/* FORM REGISTER */
.form-select{
  height: 48px;
  border-radius: 10rem;
  font-size: 0.8rem !important;
  padding: 0.375rem 1.25rem;
}

.form-select::after{
  margin: 0 10px;
}
.inp-content {
  position: relative;
  margin: auto;
  width: 100%;
}
.inp-content input {
  position: absolute;
  line-height: 80px;
  transition: 0.1s ease;
  padding: 1.5rem 1rem;
}
.inp-label {
  position: absolute;
  top: 0;
  color: #858796;
  padding: 0 14px;
  margin: 15px 8px;
  height: fit-content;
  background-color: #fff;
  transition: 0.2s ease;
  font-size: 0.8rem;
}
.opt-label{
  z-index: 22222;
}

.inp-content input:focus,
.inp-content input:valid {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.inp-content input:focus + .inp-label, 
.inp-content input:valid + .inp-label{
  color: #2196f3;
  height: 20px;
  font-size: 13px;
  line-height: 30px;
  transform: translate(-10px,-15px) scale(0.88);
  z-index: 1111;
  padding: 0 8px;
  margin: 0 20px;
}